body {
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 2rem);
    margin: 0 auto;
    height: 75vh;
    border: 1px solid black;
    max-width: 512px;
    max-height: 512px;
}

.squareDiv {
    border: 1px solid black;
    box-sizing: border-box;
}

.squareDiv:hover {
    transition-duration: 2s;
    transform: scale(1.1);

}

.addColor {
    background-color: black;
}